name: Deploy Vue to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # detailed logging to help debug if needed
      - name: Install and Build
        run: |
          cd client
          npm install
          npm run build

      - name: Deploy to gh-pages branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: client/dist # This pushes ONLY the built website, not the source code
          branch: gh-pages
		  
		  